CIS3342TermProjectFall2015/CIS3342TermProjectFall2015/Web References/TP_WebService/TP_WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getDepartment">
        <s:complexType />
      </s:element>
      <s:element name="getDepartmentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getDepartmentResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCatalog">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="departmentNumber" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCatalogResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getCatalogResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getColNames">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ds">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getColNamesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getColNamesResult" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:element name="addMerchant">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="merch" type="tns:Merchant" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Merchant">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="merchantID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="storeName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="firstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="lastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="storeDescrip" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="loginID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="addMerchantResponse">
        <s:complexType />
      </s:element>
      <s:element name="Purchase">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProductID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Quantity" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="MerchantID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="APIKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CustomerCreditInformation" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="PurchaseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PurchaseResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getDepartmentSoapIn">
    <wsdl:part name="parameters" element="tns:getDepartment" />
  </wsdl:message>
  <wsdl:message name="getDepartmentSoapOut">
    <wsdl:part name="parameters" element="tns:getDepartmentResponse" />
  </wsdl:message>
  <wsdl:message name="getCatalogSoapIn">
    <wsdl:part name="parameters" element="tns:getCatalog" />
  </wsdl:message>
  <wsdl:message name="getCatalogSoapOut">
    <wsdl:part name="parameters" element="tns:getCatalogResponse" />
  </wsdl:message>
  <wsdl:message name="getColNamesSoapIn">
    <wsdl:part name="parameters" element="tns:getColNames" />
  </wsdl:message>
  <wsdl:message name="getColNamesSoapOut">
    <wsdl:part name="parameters" element="tns:getColNamesResponse" />
  </wsdl:message>
  <wsdl:message name="addMerchantSoapIn">
    <wsdl:part name="parameters" element="tns:addMerchant" />
  </wsdl:message>
  <wsdl:message name="addMerchantSoapOut">
    <wsdl:part name="parameters" element="tns:addMerchantResponse" />
  </wsdl:message>
  <wsdl:message name="PurchaseSoapIn">
    <wsdl:part name="parameters" element="tns:Purchase" />
  </wsdl:message>
  <wsdl:message name="PurchaseSoapOut">
    <wsdl:part name="parameters" element="tns:PurchaseResponse" />
  </wsdl:message>
  <wsdl:portType name="TP_WebServiceSoap">
    <wsdl:operation name="getDepartment">
      <wsdl:input message="tns:getDepartmentSoapIn" />
      <wsdl:output message="tns:getDepartmentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getCatalog">
      <wsdl:input message="tns:getCatalogSoapIn" />
      <wsdl:output message="tns:getCatalogSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getColNames">
      <wsdl:input message="tns:getColNamesSoapIn" />
      <wsdl:output message="tns:getColNamesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="addMerchant">
      <wsdl:input message="tns:addMerchantSoapIn" />
      <wsdl:output message="tns:addMerchantSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Purchase">
      <wsdl:input message="tns:PurchaseSoapIn" />
      <wsdl:output message="tns:PurchaseSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TP_WebServiceSoap" type="tns:TP_WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getDepartment">
      <soap:operation soapAction="http://tempuri.org/getDepartment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCatalog">
      <soap:operation soapAction="http://tempuri.org/getCatalog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getColNames">
      <soap:operation soapAction="http://tempuri.org/getColNames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addMerchant">
      <soap:operation soapAction="http://tempuri.org/addMerchant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Purchase">
      <soap:operation soapAction="http://tempuri.org/Purchase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TP_WebServiceSoap12" type="tns:TP_WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getDepartment">
      <soap12:operation soapAction="http://tempuri.org/getDepartment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCatalog">
      <soap12:operation soapAction="http://tempuri.org/getCatalog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getColNames">
      <soap12:operation soapAction="http://tempuri.org/getColNames" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addMerchant">
      <soap12:operation soapAction="http://tempuri.org/addMerchant" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Purchase">
      <soap12:operation soapAction="http://tempuri.org/Purchase" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TP_WebService">
    <wsdl:port name="TP_WebServiceSoap" binding="tns:TP_WebServiceSoap">
      <soap:address location="http://localhost:12566/TP_WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="TP_WebServiceSoap12" binding="tns:TP_WebServiceSoap12">
      <soap12:address location="http://localhost:12566/TP_WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>