CIS3342TermProjectFall2015/CIS3342TermProjectFall2015/Web References/TP_WebService/TP_WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getDepartment">
        <s:complexType />
      </s:element>
      <s:element name="getDepartmentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getDepartmentResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCatalog">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="departmentNumber" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCatalogResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getCatalogResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getDepartmentSoapIn">
    <wsdl:part name="parameters" element="tns:getDepartment" />
  </wsdl:message>
  <wsdl:message name="getDepartmentSoapOut">
    <wsdl:part name="parameters" element="tns:getDepartmentResponse" />
  </wsdl:message>
  <wsdl:message name="getCatalogSoapIn">
    <wsdl:part name="parameters" element="tns:getCatalog" />
  </wsdl:message>
  <wsdl:message name="getCatalogSoapOut">
    <wsdl:part name="parameters" element="tns:getCatalogResponse" />
  </wsdl:message>
  <wsdl:portType name="TP_WebServiceSoap">
    <wsdl:operation name="getDepartment">
      <wsdl:input message="tns:getDepartmentSoapIn" />
      <wsdl:output message="tns:getDepartmentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getCatalog">
      <wsdl:input message="tns:getCatalogSoapIn" />
      <wsdl:output message="tns:getCatalogSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TP_WebServiceSoap" type="tns:TP_WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getDepartment">
      <soap:operation soapAction="http://tempuri.org/getDepartment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCatalog">
      <soap:operation soapAction="http://tempuri.org/getCatalog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TP_WebServiceSoap12" type="tns:TP_WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getDepartment">
      <soap12:operation soapAction="http://tempuri.org/getDepartment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCatalog">
      <soap12:operation soapAction="http://tempuri.org/getCatalog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TP_WebService">
    <wsdl:port name="TP_WebServiceSoap" binding="tns:TP_WebServiceSoap">
      <soap:address location="http://localhost:12566/TP_WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="TP_WebServiceSoap12" binding="tns:TP_WebServiceSoap12">
      <soap12:address location="http://localhost:12566/TP_WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>